@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Asiatek.TMS.Helpers
@using Asiatek.Model
@model IEnumerable<FunctionsInfoModel>



@{
    AjaxOptions ao = new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "divPSContent",
        OnSuccess = "commonAjaxSuccess"
    };
    var firstFunc = Model.FirstOrDefault();//第一个菜单
}

<div class="row">
    <div class="col-xs-2 nopadding">
        <div id="tdLeftDivInfo" style="border-right: 5px solid darkgray; overflow: auto;">
            <ul style="height: auto; overflow: auto;" class="nav nav-pills  nav-stacked" role="tablist" id="ulPSMenu">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    var realFunctionName = AsiatekUIHelper.GetUIText(item.FunctionName);
                    if (string.IsNullOrWhiteSpace(item.ActionName))//仅仅是个菜单，不绑定任何具体Action
                    {
                    <li role="presentation" class="@(i == 0 ? "active navLi" : "navLi")">
                        <a href="javascript:void(0)">@realFunctionName</a>
                    </li>
                    }
                    else
                    {
                    <li role="presentation" class="@(i == 0 ? "active navLi" : "navLi")">@Ajax.AsiatekActionLink(realFunctionName, item.ActionName, item.ControllerName, item.AreaName, ao)</li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-xs-10 nopadding" id="divPSContent" style="overflow: auto;">
        @if (firstFunc != null)
        {
            @Html.Action(firstFunc.ActionName, firstFunc.ControllerName, new { area = firstFunc.AreaName })
        }
    </div>
</div>





@section scripts{
    <script>
        $(".navLi").on("click", function ()
        {
            $("#ulPSMenu>li").removeClass("active");
            $(this).addClass("active");
        });


        window.onload = function () { setContentSize(); };
        window.onresize = function () { setContentSize(); };

        var setContentSize = function ()
        {
            var height = document.documentElement.scrollHeight;
            var container = document.getElementById("divPSContent");//内容
            var tdLeftDivInfo = document.getElementById("tdLeftDivInfo");//左侧边栏div
            //布局页面div
            var mainDiv = document.getElementById("mainDiv");
            var headDivHt = document.getElementById("headDiv").clientHeight;
            var menusDiv = document.getElementById("menusDiv");
            var menusDivHt = document.getElementById("menusDiv").clientHeight;
            var bottomDivHt = document.getElementById("bottomDiv").clientHeight;

            container.style.height = window.innerHeight - headDivHt - menusDivHt - bottomDivHt + "px";
            tdLeftDivInfo.style.height = container.style.height;

            mainDiv.style.width = window.innerWidth + "px";
            menusDiv.style.width = window.innerWidth + "px";

        }
    </script>
}