@using Asiatek.Model
@using Asiatek.TMS.Helpers
@using Asiatek.Resource
@using Asiatek.AjaxPager
@model SearchDataWithPagedDatas<TransportManagementSearchModel, TransportManagementListModel>

@using (Ajax.BeginForm("GetTransportManagement", "TransportManagement", new AjaxOptions()
    {
        UpdateTargetId = "Admin_TM_TransportManagement_divTM",
        OnSuccess = "commonAjaxSuccess",
        HttpMethod = "GET"
    }, new { id = "frmSearchTransportManagement" }))
{
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <td>@Html.LabelFor(m => m.SearchModel.Code)：</td>
            <td>
                <input type="search" name="Code" value="" placeholder="@(UIText.PleaseInput + DisplayText.TransportManagementCode)"/>
            </td>
            <td>@Html.LabelFor(m => m.SearchModel.Name)：</td>
            <td>
                <input type="search" name="Name" value="" placeholder="@(UIText.PleaseInput + DisplayText.TransportManagementName)"/>
            </td>
            <td>
                @Html.HiddenFor(m => m.SearchPage, new { id = "hidSearchPage" })
                <button class="btn btn-primary" title="@UIText.Search"><span class="glyphicon glyphicon-search"></span></button>
            </td>
         </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
    </table>
}

<div id="Admin_TM_TransportManagement_divTM">
    @Html.Partial("_TransportManagementPagedGrid")
</div>

<script>
    $("#frmSearchTransportManagement").find("input:not(:submit,:checkbox,:button),textarea,select").addClass("form-control");
</script>





