@using Asiatek.Model
@using Asiatek.TMS.Helpers
@using Asiatek.Resource
@model SensorEditModel



@using (Ajax.BeginForm("EditSensorTypes", "Sensor", new AjaxOptions()
{
    OnSuccess = "showCommonEditResult",
}, new { id = "frmEditSensorTypes" }))
{
    @Html.HiddenFor(m => m.TypeID)
    @Html.AntiForgeryToken()
    <table class="table table-striped table-condensed table-hover">
        <tbody>
            <tr>
                <td>@Html.LabelForRequired(m => m.SensorName)：</td>
                <td colspan="3">@Html.TextBoxFor(m => m.SensorName, new { id = "txtName" })</td>
            </tr>
            <tr>
                <td colspan="4">@Html.ValidationMessageFor(m => m.SensorName)</td>
            </tr>
            <tr>
                <td>@Html.LabelForRequired(m => m.SensorCode)：</td>
                <td colspan="3">@Html.TextBoxFor(m => m.SensorCode, new { @readonly = true })</td>
            </tr>
            <tr><td colspan="4"></td></tr>
            <tr>
                <td>@Html.LabelForRequired(m => m.TypeCode)：</td>
                <td colspan="3">@Html.TextBoxFor(m => m.TypeCode, new { @readonly = true })</td>
            </tr>
            <tr>
                <td colspan="4">@Html.ValidationMessageFor(m => m.SensorName)</td>
            </tr>
            <tr>
                <td>@Html.LabelForRequired(m => m.Value1)：</td>
                <td>@Html.CheckBoxFor(m => m.Value1)</td>
                <td style="float: right;">@Html.LabelForRequired(m => m.Value2)：</td>
                <td>@Html.CheckBoxFor(m => m.Value2)</td>
            </tr>
            <tr>
                <td colspan="4">@Html.ValidationMessageFor(m => m.Value1)@Html.ValidationMessageFor(m => m.Value2)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Remark)：</td>
                <td colspan="3">@Html.TextAreaFor(m => m.Remark, new { @class = "fixTextArea" })</td>
            </tr>
            <tr>
                <td colspan="4">@Html.ValidationMessageFor(m => m.Remark)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" title="@UIText.SaveButton"><span class="glyphicon glyphicon-ok"></span></button>
                </td>
            </tr>
        </tfoot>
    </table>
}


<script>
    $('#txtName').attr("disabled", true);

    var $frmEditSensor = $("#frmEditSensorTypes");
    $frmEditSensor.find("input:not(:submit,:checkbox),textarea,select").addClass("form-control");
    $frmEditSensor.fixUnobtrusiveValidation();
</script>
