@using Asiatek.Model
@using Asiatek.TMS.Helpers
@using Asiatek.Resource
@model RepairRecordModel
    <table class="table table-striped table-condensed table-hover">
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.PlateNum)：</td>
                <td><input  class="form-control"  name="platenum" value="@Model.PlateNum" id="PlateNum" readonly="true"/></td>
                <td>@Html.LabelFor(m => m.DriverName)：</td>
                <td><input  class="form-control"  name="DriverName" value="@Model.DriverName" id="DriverName" readonly="true"/></td>
            </tr>
               <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DriverPhone)：</td>
                <td><input  class="form-control"  name="DriverPhone" value="@Model.DriverPhone" id="DriverPhone" readonly="true"/></td>
                <td>@Html.LabelFor(m => m.RepairType)：</td>
                <td><input  class="form-control"  name="RepairType" value="@Model.RepairType" id="RepairType" readonly="true"/></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RepairStartTime)：</td>
                <td><input  class="form-control"  name="RepairStartTime" value="@Model.RepairStartTime" id="RepairStartTime" readonly="true"/></td>
                <td>@Html.LabelFor(m => m.RepairEndTime)：</td>
                <td><input  class="form-control"  name="RepairEndTime" value="@Model.RepairEndTime" id="RepairEndTime" readonly="true"/></td>
            </tr>
               <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="table table-striped table-condensed table-hover" id="RepairRecordDetail">
                        <tr>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].ProjectName)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].PartsName)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].PartsVersion)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].PartsNum)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].Price)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].Unit)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].MaterialCost)</td>
                            <td style="text-align: center">@Html.LabelFor(m => m.RepairRecordDetail[0].TimeFee)</td>
                        </tr>
                        @for (int i = 0; i < Model.RepairRecordDetail.Count; i++)
                            {
                                var item = Model.RepairRecordDetail[i];
                            <tr id="tr_@i">
                                <td><input  class="form-control"  name="ProjectName" value="@item.ProjectName" readonly="true"/></td>
                                 <td><input  class="form-control" name="PartsName" value="@item.PartsName" readonly="true"/></td>
                                  <td><input  class="form-control"  name="PartsVersion" value="@item.PartsVersion" readonly="true"/></td>
                                <td><input  class="form-control" name="PartsNum" value="@item.PartsNum"  readonly="true"/></td>
                                <td><input  class="form-control"  name="Price" value="@item.Price"  readonly="true"/></td>
                               <td><input  class="form-control"  name="Unit" value="@item.Unit" readonly="true"/></td>
                                <td><input  class="form-control" name="MaterialCost" value="@item.MaterialCost" readonly="true"/></td>
                                <td><input  class="form-control"  name="TimeFee" value="@item.TimeFee" readonly="true"/></td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
               <tr>
                <td colspan="4"></td>
            </tr>
             <tr>
                  <td>@DisplayText.TotalPrice:</td>
                  <td><input type="text" id="TotalPrice" readonly="true" value="@Model.TotalPrice" class="form-control" ></td>
                  <td></td>
                  <td></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
               <tr>
                   <td>@Html.LabelFor(m=>m.Remark)</td>
                     <td colspan="3">
                         @Html.TextAreaFor(m => m.Remark, new { @class="form-control",@readonly=true})
                   </td>
            </tr>
        </tbody>
    </table>
<script>
    var $frmAddPlateColo = $("#frmAddRepairRecord");
    $frmAddPlateColo.find("input:not(:submit,:checkbox),textarea,select").addClass("form-control");
    $frmAddPlateColo.fixUnobtrusiveValidation();
</script>

