@using Asiatek.Model
@using Asiatek.Resource
@using Asiatek.AjaxPager
@model SearchDataWithPagedDatas<VehicleMaintainSearchModels, VehicleMaintainListModels>


@{
    string updateTargetId = "Admin_VehicleMaintain_SelectPlateColors_divVehicles";
    string editText = UIText.EditButton;
    string delText = UIText.DeleteButton;
    string informationTitle = UIText.InformationTitle;
    string closeBtnText = UIText.Close;

    var pagedDatas = Model.PagedDatas;
}



@if (pagedDatas.Count == 0)
{
    <h3>@Asiatek.Resource.UIText.NoDatas</h3>
}
else
{
    @Html.AntiForgeryToken()
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                @*<th>
                    <input type="checkbox" id="chkAll" />
                </th>*@
                <th>@Html.DisplayNameFor(m => m.Code)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pagedDatas)
            {
                <tr>
                    @*<td>
                        <input type="checkbox" name="tid" value="@item.Code" id="chkTID@(item.Code)" />
                    </td>*@
                    <td>
                        <label for="chkTID@(item.Code)">@item.Code</label>
                    </td>
                    <td>
                        <label>@item.Name</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @Ajax.AsiatekAjaxPagerBootstrap(new AjaxPagerOptions()
    {
        AreaName = "Admin",
        ControllerName = "VehicleMaintain",
        ActionName = "GetPlateColorsInfo",
        UpdateTargetId = updateTargetId,
        OnSuccess = "commonAjaxSuccess",
    });
}


<script>

    //刷新搜索表单
    var refreshSearchForm = function () {
        var _currentPage = '@Model.PagedDatas.CurrentPageIndex';
        //将当前页索引设置到搜索表单的内容中
        var $hidSearchPage = $("#frmSearchVehicle #hidSearchPage");
        $hidSearchPage.val(_currentPage);
        //提交搜索表单进行搜索
        $("#frmSearchVehicle").submit();
        //搜索过后将表单中的当前页索引重新设置为1，因为当我们手动点查询时，都查询第一页
        $hidSearchPage.val('1');
    }



    var _$chkAllObj = $("#chkAll");
    var _$chkObjs = $("input[name='tid']");
    $.setCheckBox(_$chkAllObj, _$chkObjs);
</script>
