@using Asiatek.Model
@using Asiatek.Resource
@using Asiatek.AjaxPager
@model SearchDataWithPagedDatas<MGJH_SynchroReceivePointSearchModel, MGJH_SynchroReceivePointListModel>


@using (Ajax.BeginForm("GetSynchroReceivePoint", "MGJH_SynchroReceivePoint", new AjaxOptions()
{
    UpdateTargetId = "Admin_SynchroReceivePoint_SynchroReceivePointSetting_divSynchroReceivePoint",
    OnSuccess = "commonAjaxSuccess",
    HttpMethod = "GET"
}, new { id = "frmSearchSynchroReceivePoint" }))
{
    <!--收货点查询条件-->
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <td>@Html.LabelFor(m => m.SearchModel.AddressName)：</td>
            <td>
                <input type="search" name="AddressName" value=""  placeholder="@UIText.PleaseInput@DisplayText.ReceiveAddressName"/>
            </td>
            <td>@Html.LabelFor(m => m.SearchModel.AddressCode)：</td>
            <td>
                <input type="search" name="AddressCode" value=""  placeholder="@UIText.PleaseInput@DisplayText.ReceiveAddressCode"/>
            </td>
            <td>@Html.LabelFor(m => Model.SearchModel.CustomerName)：</td>
            <td>
                <input type="search" name="CustomerName" value=""  placeholder="@UIText.PleaseInput@DisplayText.CustomerName"/>
            </td>
        </tr>
        <tr>
             <td>@Html.LabelFor(m => Model.SearchModel.AddressArea)：</td>
            <td>
                <input type="search" name="AddressArea" value=""  placeholder="@UIText.PleaseInput@DisplayText.ReceiveAddressArea"/>
            </td>
            <td>@Html.LabelFor(m => m.SearchModel.IsSynchro)：</td>
            <td>
                @Html.DropDownList("IsSynchro", new List<SelectListItem> 
                                 { new SelectListItem { Text = @UIText.All, Value = "-1 "},
                                   new SelectListItem { Text = @UIText.IsSynchroed, Value = "1"},
                                   new SelectListItem { Text = @UIText.NoSynchro, Value = "2"}
                                 })
            </td>
            <td colspan="2">
                @Html.HiddenFor(m => m.SearchPage, new { id = "hidSearchPage" })
                <button class="btn btn-primary" title="@UIText.Search"><span class="glyphicon glyphicon-search"></span></button>
            </td>
        </tr>
    </table>
}


<div id="Admin_SynchroReceivePoint_SynchroReceivePointSetting_divSynchroReceivePoint">
    @Html.Partial("_SynchroReceivePointPagedGrid", Model)
</div>

<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=865e5946e363e3889a01b89f8ba5d069&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script type="text/javascript"  src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script src="~/Scripts/gaodeMap/map.js?v=1.2"></script>
<script>
    $("#frmSearchSynchroReceivePoint").find("input:not(:submit,:checkbox,:button),textarea,select").addClass("form-control");
</script>
